<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
</head>
<body>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://source.unsplash.com/1600x900/?food" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= item.name %></h5>
      <p class="card-text">Price: <%= item.price %></p>
      <p class="card-text">Category: <%= item.category %></p>
      <a href="/" class="btn btn-primary">Back</a>
    </div>
  </div>
</body>
</html>


