<h1>Create new item</h1>

<form method="POST" action="/items/create">
  <input name="name" type="type" placeholder='Item name'/>
  <input name="price" type="type" placeholder='Item price'/>
  <button type="submit">Add item</button>
</form>